@media screen and (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    .audiohub__side__section__menu {
        position: fixed;
        right: 0px;
        bottom: 0px;
        left: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        width: 100%;
        height: fit-content;
        padding-top: 60px;
        box-shadow: none;
        background-image: -webkit-linear-gradient(bottom, var(--main-color-half), transparent);

        .menu__logo__container {
            display: none;
        }

        #add__track {
            margin-top: 0;
            margin-bottom: 0;
        }

        button {
            justify-content: center;
            flex-wrap: wrap;
            gap: 5px;
            width: 120px;
            font-size: 12px;
            span{
                width: 100%
            }

        }

        #library__btn,
        #search__btn {
            width: 60px;
        }
    }
}