@media screen and (max-width: 1024px) {

    #audiohub__section__audioplayer.minimize__audioplayer {
        #track__progressbar__container {
            display: none;
        }
    }

}

@media screen and (max-width: 900px) {
    header {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    .audiohub__side__section__menu {
        position: fixed;
        right: 0px;
        bottom: 0px;
        left: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        width: 100%;
        height: fit-content;
        padding-top: 60px;
        box-shadow: none;
        background-image: -webkit-linear-gradient(bottom, var(--main-color-three-quater), transparent);

        .menu__logo__container {
            display: none;
        }

        #add__track {
            margin-top: 0px;
            margin-bottom: 0;
        }

        button {
            justify-content: center;
            flex-wrap: wrap;
            gap: 5px;
            width: 100px;
            font-size: 10px;

            span {
                width: 100%;
            }

        }
    }

    #audiohub__section__audioplayer.minimize__audioplayer {
        bottom: 100px;

        .audiohub__audioplayer{
            width: 100%;
        }
    }
}

@media screen and (max-width: 600px) {
    .audiohub__section__music {
        .audiohub__section__music__container {

            .tracks__container {

                .track {
                    max-width: 600px;
                }
            }
        }
    }

    #audiohub__section__audioplayer.minimize__audioplayer {
        #audioplayer__buttons__container {

            #btn__previous__track,
            #btn__next__track {
                display: none;
            }

            #btn__play{
                width: 40px;
                height: 40px;
                padding: 6px;
            }

            #btn__stop,
            #btn__pause{
                width: 30px;
                height: 30px;
                padding: 6px;

                img{
                    width: 80%;
                }
            }
        }
    }

}