@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
}

body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
}

body.no-scroll {
  overflow: hidden;
  height: 100%;
}

main {
  display: flex;
  width: 100%;
  background-color: var(--background-color);
}

.audiohub__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  filter: brightness(0.8);
  transition: filter 0.3s ease-out;
  cursor: pointer;
}
.audiohub__btn img {
  width: 30px;
}

.audiohub__btn:hover {
  filter: brightness(1);
}

:root {
  --letter-dark-color: rgb(223, 223, 223);
  --main-color: #FF00F2;
  --main-color-three-quater: #ff00f2a9;
  --main-color-half: #ff00f23f;
  --background-color: #8656F8;
  --background-color-dark: #24055E;
  --background-color-dark-three-quater: #24055ece;
  --shadow-light: #9F71FF;
  --shadow-dark: #4e299e;
  --shadow-container: -12px -12px 20px var(--shadow-light),
      20px 20px 20px var(--shadow-dark);
  --shadow-container-both: inset -5px -5px 5px var(--shadow-light),
      inset 5px 5px 5px var(--shadow-dark),
      -12px -12px 20px var(--shadow-light),
      12px 12px 12px var(--shadow-dark);
  --shadow-inside: inset -5px -5px 5px var(--shadow-light),
                   inset 5px 5px 5px var(--shadow-dark),
                         -0px -0px 0px var(--shadow-light),
                          0px 0px 0px var(--shadow-dark);
  --shadow-outside: inset -0px -0px 0px var(--shadow-light),
                    inset 0px 0px 0px var(--shadow-dark),
                          -5px -5px 5px var(--shadow-light),
                           5px 5px 5px var(--shadow-dark);
  --shadow-both: inset -5px -5px 5px var(--shadow-light),
                 inset 5px 5px 5px var(--shadow-dark),
                       -5px -5px 5px var(--shadow-light),
                        5px 5px 5px var(--shadow-dark);
  --shadow-input: inset -5px -5px 5px var(--shadow-light),
                  inset 5px 5px 5px var(--shadow-dark),
                        -0px -0px 0px var(--shadow-light),
                         0px 0px 0px var(--shadow-dark);
  --shadow-input-hover: inset -0px -0px 0px var(--shadow-light),
                        inset 0px 0px 0px var(--shadow-dark),
                              -5px -5px 5px var(--shadow-light),
                               5px 5px 5px var(--shadow-dark);
  --border--radius-main: 12px;
}

header {
  width: 100%;
  padding: 20px;
  display: none;
  z-index: 998;
}
header .logo__container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-style: italic;
  font-weight: 800;
}
header .logo__container img {
  width: 35px;
}
header .tools__icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  border: 4px solid var(--background-color);
  background-color: var(--background-color);
  box-shadow: var(--shadow-both);
}
header .tools__icon__container img {
  width: 90%;
  filter: brightness(0.8);
}

.configuration__container {
  position: absolute;
  top: 0px;
  left: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-image: -webkit-linear-gradient(right, var(--main-color-three-quater), transparent);
}
.configuration__container #close__configuration {
  position: absolute;
  left: 20px;
  filter: brightness(1);
}
.configuration__container #close__configuration img {
  width: 20px;
}

main section.deploy__section {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 25px;
  backdrop-filter: blur(12px);
  z-index: 999;
}
main input {
  border: none;
  outline: none;
}

.audiohub__side__section__menu {
  height: 100%;
  padding: 20px;
  box-shadow: 20px 0px 20px var(--shadow-dark);
  z-index: 998;
}
.audiohub__side__section__menu .logo__container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
  font-size: 20px;
  font-style: italic;
  font-weight: 800;
}
.audiohub__side__section__menu .logo__container img {
  width: 35px;
}
.audiohub__side__section__menu button {
  width: 200px;
  margin: 10px 0;
}

.audiohub__section__music {
  position: relative;
  width: 100%;
  padding: 40px 30px 50px 30px;
  background-image: -webkit-linear-gradient(right, var(--shadow-dark), transparent);
}
.audiohub__section__music .gradient__container {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 400px;
  background-image: -webkit-linear-gradient(top, rgba(255, 0, 242, 0.4431372549), transparent);
  z-index: 1;
}
.audiohub__section__music .audiohub__section__music__container {
  position: relative;
  padding-top: 70px;
  padding-bottom: 20px;
  z-index: 2;
}
.audiohub__section__music .audiohub__section__music__container .tracks__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding: 20px;
  padding-bottom: 80px;
}
.audiohub__section__music .audiohub__section__music__container .tracks__container .track {
  max-width: 400px;
  padding: 20px;
  border-radius: var(--border--radius-main);
  border: 4px solid var(--background-color);
  background-image: -webkit-linear-gradient(bottom, var(--main-color-half), var(--background-color));
  box-shadow: var(--shadow-container-both);
}
.audiohub__section__music .audiohub__section__music__container .tracks__container .track .track__img__container {
  width: 100%;
  border: 4px solid var(--background-color);
  border-radius: var(--border--radius-main);
  box-shadow: var(--shadow-outside);
}
.audiohub__section__music .audiohub__section__music__container .tracks__container .track .track__img__container img {
  width: 100%;
  margin-bottom: -3px;
  border-radius: var(--border--radius-main);
}
.audiohub__section__music .audiohub__section__music__container .tracks__container .track .track__description {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  border-radius: var(--border--radius-main);
  background-color: var(--background-color);
  box-shadow: var(--shadow-outside);
}
.audiohub__section__music .audiohub__section__music__container .tracks__container .track .track__description h3,
.audiohub__section__music .audiohub__section__music__container .tracks__container .track .track__description h4 {
  font-style: italic;
}
.audiohub__section__music .audiohub__section__music__container .tracks__container .track .track__description h3 {
  font-size: 16px;
}
.audiohub__section__music .audiohub__section__music__container .tracks__container .track .track__description h4 {
  font-size: 15px;
}

.audiohub__section__addtrack,
.audiohub__section__addalbum {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  overflow: hidden;
}
.audiohub__section__addtrack .audiohub__section__addtrack__container,
.audiohub__section__addtrack .audiohub__section__addalbum__container,
.audiohub__section__addalbum .audiohub__section__addtrack__container,
.audiohub__section__addalbum .audiohub__section__addalbum__container {
  max-width: 600px;
  padding: 20px;
  padding-right: 30px;
  border-radius: var(--border--radius-main);
  background-color: var(--background-color);
  box-shadow: var(--shadow-container);
}
.audiohub__section__addtrack .audiohub__section__addtrack__container p,
.audiohub__section__addtrack .audiohub__section__addalbum__container p,
.audiohub__section__addalbum .audiohub__section__addtrack__container p,
.audiohub__section__addalbum .audiohub__section__addalbum__container p {
  max-width: 400px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.audiohub__section__addtrack .audiohub__section__addtrack__container form#form__addtrack input,
.audiohub__section__addtrack .audiohub__section__addtrack__container form#form__addalbum input,
.audiohub__section__addtrack .audiohub__section__addalbum__container form#form__addtrack input,
.audiohub__section__addtrack .audiohub__section__addalbum__container form#form__addalbum input,
.audiohub__section__addalbum .audiohub__section__addtrack__container form#form__addtrack input,
.audiohub__section__addalbum .audiohub__section__addtrack__container form#form__addalbum input,
.audiohub__section__addalbum .audiohub__section__addalbum__container form#form__addtrack input,
.audiohub__section__addalbum .audiohub__section__addalbum__container form#form__addalbum input {
  margin: 8px 10px;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 18px;
  background-color: var(--background-color);
  box-shadow: var(--shadow-input);
  color: white;
  cursor: pointer;
}
.audiohub__section__addtrack .audiohub__section__addtrack__container form#form__addtrack input[type=text],
.audiohub__section__addtrack .audiohub__section__addtrack__container form#form__addalbum input[type=text],
.audiohub__section__addtrack .audiohub__section__addalbum__container form#form__addtrack input[type=text],
.audiohub__section__addtrack .audiohub__section__addalbum__container form#form__addalbum input[type=text],
.audiohub__section__addalbum .audiohub__section__addtrack__container form#form__addtrack input[type=text],
.audiohub__section__addalbum .audiohub__section__addtrack__container form#form__addalbum input[type=text],
.audiohub__section__addalbum .audiohub__section__addalbum__container form#form__addtrack input[type=text],
.audiohub__section__addalbum .audiohub__section__addalbum__container form#form__addalbum input[type=text] {
  transition: box-shadow 0.3s ease;
}
.audiohub__section__addtrack .audiohub__section__addtrack__container form#form__addtrack input[type=text]:hover,
.audiohub__section__addtrack .audiohub__section__addtrack__container form#form__addalbum input[type=text]:hover,
.audiohub__section__addtrack .audiohub__section__addalbum__container form#form__addtrack input[type=text]:hover,
.audiohub__section__addtrack .audiohub__section__addalbum__container form#form__addalbum input[type=text]:hover,
.audiohub__section__addalbum .audiohub__section__addtrack__container form#form__addtrack input[type=text]:hover,
.audiohub__section__addalbum .audiohub__section__addtrack__container form#form__addalbum input[type=text]:hover,
.audiohub__section__addalbum .audiohub__section__addalbum__container form#form__addtrack input[type=text]:hover,
.audiohub__section__addalbum .audiohub__section__addalbum__container form#form__addalbum input[type=text]:hover {
  box-shadow: var(--shadow-input-hover);
}
.audiohub__section__addtrack .audiohub__section__addtrack__container form#form__addtrack input[type=file],
.audiohub__section__addtrack .audiohub__section__addtrack__container form#form__addalbum input[type=file],
.audiohub__section__addtrack .audiohub__section__addalbum__container form#form__addtrack input[type=file],
.audiohub__section__addtrack .audiohub__section__addalbum__container form#form__addalbum input[type=file],
.audiohub__section__addalbum .audiohub__section__addtrack__container form#form__addtrack input[type=file],
.audiohub__section__addalbum .audiohub__section__addtrack__container form#form__addalbum input[type=file],
.audiohub__section__addalbum .audiohub__section__addalbum__container form#form__addtrack input[type=file],
.audiohub__section__addalbum .audiohub__section__addalbum__container form#form__addalbum input[type=file] {
  width: 100%;
  margin-left: 5px;
  padding: 10px;
  text-align: center;
  line-height: normal;
  box-shadow: none;
}
.audiohub__section__addtrack .audiohub__section__addtrack__container form#form__addtrack input[type=file]::-webkit-file-upload-button,
.audiohub__section__addtrack .audiohub__section__addtrack__container form#form__addalbum input[type=file]::-webkit-file-upload-button,
.audiohub__section__addtrack .audiohub__section__addalbum__container form#form__addtrack input[type=file]::-webkit-file-upload-button,
.audiohub__section__addtrack .audiohub__section__addalbum__container form#form__addalbum input[type=file]::-webkit-file-upload-button,
.audiohub__section__addalbum .audiohub__section__addtrack__container form#form__addtrack input[type=file]::-webkit-file-upload-button,
.audiohub__section__addalbum .audiohub__section__addtrack__container form#form__addalbum input[type=file]::-webkit-file-upload-button,
.audiohub__section__addalbum .audiohub__section__addalbum__container form#form__addtrack input[type=file]::-webkit-file-upload-button,
.audiohub__section__addalbum .audiohub__section__addalbum__container form#form__addalbum input[type=file]::-webkit-file-upload-button {
  display: block;
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  background-color: var(--background-color);
  box-shadow: var(--shadow-input-hover);
  cursor: pointer;
  position: relative;
}
.audiohub__section__addtrack .audiohub__section__addtrack__container form#form__addtrack #form__addtrack__btn__submit,
.audiohub__section__addtrack .audiohub__section__addtrack__container form#form__addtrack #form__addalbum__btn__submit,
.audiohub__section__addtrack .audiohub__section__addtrack__container form#form__addalbum #form__addtrack__btn__submit,
.audiohub__section__addtrack .audiohub__section__addtrack__container form#form__addalbum #form__addalbum__btn__submit,
.audiohub__section__addtrack .audiohub__section__addalbum__container form#form__addtrack #form__addtrack__btn__submit,
.audiohub__section__addtrack .audiohub__section__addalbum__container form#form__addtrack #form__addalbum__btn__submit,
.audiohub__section__addtrack .audiohub__section__addalbum__container form#form__addalbum #form__addtrack__btn__submit,
.audiohub__section__addtrack .audiohub__section__addalbum__container form#form__addalbum #form__addalbum__btn__submit,
.audiohub__section__addalbum .audiohub__section__addtrack__container form#form__addtrack #form__addtrack__btn__submit,
.audiohub__section__addalbum .audiohub__section__addtrack__container form#form__addtrack #form__addalbum__btn__submit,
.audiohub__section__addalbum .audiohub__section__addtrack__container form#form__addalbum #form__addtrack__btn__submit,
.audiohub__section__addalbum .audiohub__section__addtrack__container form#form__addalbum #form__addalbum__btn__submit,
.audiohub__section__addalbum .audiohub__section__addalbum__container form#form__addtrack #form__addtrack__btn__submit,
.audiohub__section__addalbum .audiohub__section__addalbum__container form#form__addtrack #form__addalbum__btn__submit,
.audiohub__section__addalbum .audiohub__section__addalbum__container form#form__addalbum #form__addtrack__btn__submit,
.audiohub__section__addalbum .audiohub__section__addalbum__container form#form__addalbum #form__addalbum__btn__submit {
  width: calc(100% - 10px);
  padding: 12px;
  margin-left: 10px;
  border: none;
  outline: none;
  border-radius: 100px;
  background-color: var(--background-color);
  box-shadow: var(--shadow-input-hover);
  transition: background-color 0.5s ease;
}
.audiohub__section__addtrack .audiohub__section__addtrack__container form#form__addtrack #form__addtrack__btn__submit:hover,
.audiohub__section__addtrack .audiohub__section__addtrack__container form#form__addtrack #form__addalbum__btn__submit:hover,
.audiohub__section__addtrack .audiohub__section__addtrack__container form#form__addalbum #form__addtrack__btn__submit:hover,
.audiohub__section__addtrack .audiohub__section__addtrack__container form#form__addalbum #form__addalbum__btn__submit:hover,
.audiohub__section__addtrack .audiohub__section__addalbum__container form#form__addtrack #form__addtrack__btn__submit:hover,
.audiohub__section__addtrack .audiohub__section__addalbum__container form#form__addtrack #form__addalbum__btn__submit:hover,
.audiohub__section__addtrack .audiohub__section__addalbum__container form#form__addalbum #form__addtrack__btn__submit:hover,
.audiohub__section__addtrack .audiohub__section__addalbum__container form#form__addalbum #form__addalbum__btn__submit:hover,
.audiohub__section__addalbum .audiohub__section__addtrack__container form#form__addtrack #form__addtrack__btn__submit:hover,
.audiohub__section__addalbum .audiohub__section__addtrack__container form#form__addtrack #form__addalbum__btn__submit:hover,
.audiohub__section__addalbum .audiohub__section__addtrack__container form#form__addalbum #form__addtrack__btn__submit:hover,
.audiohub__section__addalbum .audiohub__section__addtrack__container form#form__addalbum #form__addalbum__btn__submit:hover,
.audiohub__section__addalbum .audiohub__section__addalbum__container form#form__addtrack #form__addtrack__btn__submit:hover,
.audiohub__section__addalbum .audiohub__section__addalbum__container form#form__addtrack #form__addalbum__btn__submit:hover,
.audiohub__section__addalbum .audiohub__section__addalbum__container form#form__addalbum #form__addtrack__btn__submit:hover,
.audiohub__section__addalbum .audiohub__section__addalbum__container form#form__addalbum #form__addalbum__btn__submit:hover {
  background-color: var(--main-color-half);
}
.audiohub__section__addtrack .audiohub__section__addtrack__container ::placeholder,
.audiohub__section__addtrack .audiohub__section__addalbum__container ::placeholder,
.audiohub__section__addalbum .audiohub__section__addtrack__container ::placeholder,
.audiohub__section__addalbum .audiohub__section__addalbum__container ::placeholder {
  color: rgba(255, 255, 255, 0.651);
}

.audiohub__section__audioplayer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  overflow: hidden;
}
.audiohub__section__audioplayer .audiohub__section__audioplayer__container .audiohub__audioplayer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 600px;
}
.audiohub__section__audioplayer .audiohub__section__audioplayer__container .audiohub__audioplayer .audioplayer__img__container {
  width: 100%;
  border-radius: 50%;
  border: 10px solid var(--background-color);
  box-shadow: var(--shadow-container);
}
.audiohub__section__audioplayer .audiohub__section__audioplayer__container .audiohub__audioplayer .audioplayer__img__container img {
  width: 100%;
  margin-bottom: -4px;
  border-radius: 50%;
}
.audiohub__section__audioplayer .audiohub__section__audioplayer__container .audiohub__audioplayer .audioplayer__container__description {
  width: 100%;
  text-align: center;
  font-style: italic;
}
.audiohub__section__audioplayer .audiohub__section__audioplayer__container .audiohub__audioplayer .audioplayer__container__description h3 {
  font-size: 18px;
}
.audiohub__section__audioplayer .audiohub__section__audioplayer__container .audiohub__audioplayer .audioplayer__container__description h4 {
  font-size: 14px;
}
.audiohub__section__audioplayer .audiohub__section__audioplayer__container .audiohub__audioplayer #track__progressbar__container {
  width: 90%;
}
.audiohub__section__audioplayer .audiohub__section__audioplayer__container .audiohub__audioplayer #track__progressbar__container .duration__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
  font-size: 18px;
}
.audiohub__section__audioplayer .audiohub__section__audioplayer__container .audiohub__audioplayer #track__progressbar__container .duration__progressbar {
  width: 100%;
  height: 20px;
  padding: 4px;
  border-radius: 20px;
  background-color: var(--background-color);
  box-shadow: var(--shadow-both);
}
.audiohub__section__audioplayer .audiohub__section__audioplayer__container .audiohub__audioplayer #track__progressbar__container .duration__progressbar .progress {
  width: 0%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--main-color);
  transition: width 0.2s ease-out;
}
.audiohub__section__audioplayer .audiohub__section__audioplayer__container .audiohub__audioplayer #audioplayer__buttons__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.audiohub__section__audioplayer .audiohub__section__audioplayer__container .audiohub__audioplayer #audioplayer__buttons__container .btn__audioPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: var(--background-color);
  border: 3px solid var(--background-color);
  box-shadow: var(--shadow-both);
}
.audiohub__section__audioplayer .audiohub__section__audioplayer__container .audiohub__audioplayer #audioplayer__buttons__container .btn__audioPlayer img {
  width: 80%;
}
.audiohub__section__audioplayer .audiohub__section__audioplayer__container .audiohub__audioplayer #audioplayer__buttons__container #btn__previous__track,
.audiohub__section__audioplayer .audiohub__section__audioplayer__container .audiohub__audioplayer #audioplayer__buttons__container #btn__next__track {
  width: 40px;
  height: 40px;
}
.audiohub__section__audioplayer .audiohub__section__audioplayer__container .audiohub__audioplayer #audioplayer__buttons__container #btn__previous__track img,
.audiohub__section__audioplayer .audiohub__section__audioplayer__container .audiohub__audioplayer #audioplayer__buttons__container #btn__next__track img {
  width: 100%;
}
.audiohub__section__audioplayer .audiohub__section__audioplayer__container .audiohub__audioplayer #audioplayer__buttons__container #btn__stop,
.audiohub__section__audioplayer .audiohub__section__audioplayer__container .audiohub__audioplayer #audioplayer__buttons__container #btn__pause {
  width: 50px;
  height: 50px;
}
.audiohub__section__audioplayer .audiohub__section__audioplayer__container .audiohub__audioplayer #audioplayer__buttons__container #btn__play {
  border-radius: 50%;
}

.audiohub__section__configuration {
  position: relative;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  overflow: hidden;
  background-image: -webkit-linear-gradient(left, var(--background-color), var(--background-color-dark-three-quater));
}
.audiohub__section__configuration .audiohub__section__configuration__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.audiohub__section__configuration .audiohub__section__configuration__container .configuration__option {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
}
.audiohub__section__configuration .audiohub__section__configuration__container .configuration__option .configuration__option__info p.option__description {
  width: 80%;
  padding-top: 7px;
  font-size: 12px;
  color: var(--letter-dark-color);
}
.audiohub__section__configuration .audiohub__section__configuration__container .configuration__option .configuration__option__buttons__container .configuration__button {
  border-radius: 50px;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: var(--background-color);
  box-shadow: var(--shadow-both);
}
.audiohub__section__configuration .audiohub__section__configuration__container .configuration__option .configuration__option__buttons__container .button__switch {
  width: 40px;
  height: 20px;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: var(--background-color);
  box-shadow: var(--shadow-both);
}
.audiohub__section__configuration .audiohub__section__configuration__container .configuration__option .configuration__option__buttons__container .button__switch div.move__switch {
  width: 100%;
}
.audiohub__section__configuration .audiohub__section__configuration__container .configuration__option .configuration__option__buttons__container .button__switch .switch {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 0%;
  height: 100%;
  background-image: -webkit-linear-gradient(left, transparent, var(--main-color-three-quater));
  transition: width 0.3s ease;
}
.audiohub__section__configuration .audiohub__section__configuration__container .configuration__option .configuration__option__buttons__container .button__switch .switch .switch__thumb {
  position: absolute;
  right: -12px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--background-color);
}
.audiohub__section__configuration .audiohub__section__configuration__container .configuration__option .configuration__option__buttons__container button#reset__database__btn {
  width: fit-content;
  height: fit-content;
  padding: 5px 12px;
}

.custom__confirm {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(12px);
  z-index: 1000;
  display: none;
}
.custom__confirm .custom__confirm__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 350px;
  padding: 20px;
  border-radius: var(--border--radius-main);
  background-color: var(--background-color);
  box-shadow: var(--shadow-container-both);
}
.custom__confirm .custom__confirm__content p {
  text-align: center;
}
.custom__confirm .custom__confirm__content .custom__confirm__buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 80%;
}
.custom__confirm .custom__confirm__content .custom__confirm__buttons button {
  border: none;
  outline: none;
  width: 80px;
  height: 30px;
  border-radius: 50px;
  background-color: var(--background-color);
  box-shadow: var(--shadow-outside);
  cursor: pointer;
}
.custom__confirm .custom__confirm__content .custom__confirm__buttons #confirm__no {
  background-image: -webkit-linear-gradient(left, var(--main-color-three-quater), transparent);
}

@media screen and (max-width: 900px) {
  header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .audiohub__side__section__menu {
    position: fixed;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: fit-content;
    padding-top: 60px;
    box-shadow: none;
    background-image: -webkit-linear-gradient(bottom, var(--main-color-three-quater), transparent);
  }
  .audiohub__side__section__menu .menu__logo__container {
    display: none;
  }
  .audiohub__side__section__menu #add__track {
    margin-top: 0px;
    margin-bottom: 0;
  }
  .audiohub__side__section__menu button {
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    width: 100px;
    font-size: 10px;
  }
  .audiohub__side__section__menu button span {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
